//IMPORTS
@import "import.reset.scss";
@import "import.fonts.scss";
@import "import.animations.scss";
@import "import.variables.scss";
@import "import.mixins.scss";


//STYLES
html,body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background:red;
}
.sidebar{
	background:pink;
}

.testing {
  width: percentage(5/10);
}